body {
  padding: 0;
  margin: 0;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
  margin:0;
  padding:0; 
  border: 1px solid black;
  border-radius: 8px;
}

#chartdiv {
  width: 100%;
  height: 500px;
}