<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="#">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Movies</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <!-- Marker Cluster CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Our CSS -->
    <link rel="stylesheet" href="../static/css/style.css">

  </head>

  <body>
    <div class="container-fluid bg-info">
      <div class="row">
        <div class="col col-md-12 jumbotron text-center bg-dark">
          <h1 class="" style="font-size:6vw;"><span class="text-warning font-weight-bold">Movie </span><span class="text-white font-weight-bold">Dashboard</span></h1>
          <p class="lead text-white font-weight-bold">Use the interactive charts below to explore the dataset</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="well">
            <h5>Choose a genre:</h5>
            <select id="selGenre" onchange="optionChanged(this.value)">
              <option hidden disabled selected value> -- select an option -- </option>
            </select>
          </div>
        </div>
        <div class="col-md-8">
          <div id="scatter"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="map"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="d3_bar"></div>
        </div>
      </div>
      <footer class="footer">
        <span class="bottom">Movies</span>
      </footer>
    </div>

    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <!-- Leaflet's JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <!--D3 cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

    <!-- Marker Cluster JS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

    <!-- API key -->
    <script src='../static/js/config.js'></script>
    <!-- Our JS -->
    <script src='../static/js/app.js'></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
